[Desktop Entry]
Type=Application
Version=1.0
Name=TeXworks
GenericName=(La)TeX Editor
GenericName[ar]=محرر تخ
Comment=Simple environment for editing, typesetting, and previewing TeX documents
Comment[af]=TeXworks is 'n eenvoudige omgewing vir die redigering, letterset en vertoon van TeX dokumente.
Comment[ar]=TeXworks هو بيئة بسيطة لتحرير، وصفّ، ومعاينة ملفات TeX.
Comment[ca]=TeXworks és un entorn senzill per editar, compondre i visualitzar documents TeX.
Comment[cs]=TeXworks je jednoduché prostředí pro úpravu, sazbu a náhled TeXových dokumentů.
Comment[de]=TeXworks ist eine einfache Umgebung zum Bearbeiten, Setzen und Darstellen von TeX-Dokumenten.
Comment[es]=TeXworks es un simple recurso para editar, compilar y visualizar documentos TeX.
Comment[fa]=‫TeXworks محیطی ساده برای نگارش، حروف‌چینی، و نمایش مستندات تک است. ‬
Comment[fo]=TeXworks er eitt einfalt umhvørvi til at skriva, seta og hyggja at TeX-skjølum í.
Comment[fr]=TeXworks est un environnement simple pour l'édition, la composition et la prévisualisation de documents TeX
Comment[it]=TeXworks è un semplice ambiente per la modifica, la compilazione e l'anteprima di documenti TeX
Comment[ja]=TeXworks はTeX文書の編集・タイプセット・プレビューのためのシンプルな統合環境です
Comment[ko]=TeXworks는 TeX 문서를 편집하고 조판하고 미리보기할 수 있는 심플한 환경을 제공합니다.
Comment[nl]=TeXworks is een eenvoudige omgeving voor het bewerken, zetten en tonen van TeX documenten.
Comment[pl]=TeXworks to proste środowisko do edycji, składu oraz przeglądania dokumentów w TeXu.
Comment[pt_BR]=TeXworks é um ambiente simples para editar, compilar e prever documentos TeX.
Comment[ru]=TeXworks это простая программа для редактирования, вёрстки и просмотра документов TeX.
Comment[sl]=TeXworks je enostavno okolje za urejanje, stavljenje in ogled TeX-ovih dokumentov.
Comment[tr]=TeXworks, TeX belgelerini düzenleme, dizme ve önizleme için basit bir ortamdır.
Comment[zh_CN]=TeXworks 是一个用于编辑、排版和预览 TeX 文档的简洁集成环境。
Icon=TeXworks
Exec=texworks %F
MimeType=text/x-tex;application/pdf;
Categories=Office;Qt;

