# Canonical author names after migration from Subversion for nicer (short)log.

# Stefan Löffler
Stefan Löffler <st.loeffler@gmail.com>  <st.loeffler@9a2a4a0b-1251-0410-9248-99fc04669920>
Stefan Löffler <st.loeffler@gmail.com>  <st.loeffler@gmail.com@9a2a4a0b-1251-0410-9248-99fc04669920>

# Jonathan Kew
Jonathan Kew <jfkthame@gmail.com>  <jonathan@jfkew.plus.com@9a2a4a0b-1251-0410-9248-99fc04669920>
Jonathan Kew <jfkthame@gmail.com>  <jonathan@9a2a4a0b-1251-0410-9248-99fc04669920>
Jonathan Kew <jfkthame@gmail.com>  <jfkthame@9a2a4a0b-1251-0410-9248-99fc04669920>

# Charles Sharpsteen
Charles Sharpsteen <charles.sharpsteen@gmail.com>  <charles.sharpsteen@gmail.com@9a2a4a0b-1251-0410-9248-99fc04669920>
