[Desktop Entry]
Type=Application
Version=1.0
Name=TeXworks
GenericName=(La)TeX Editor
GenericName[af]=(La)TeX Regideerder
GenericName[ar]=محرر تخ
GenericName[ca]=Editor (La)TeX
GenericName[cs]=(La)TeXový editor
GenericName[de]=(La)TeX editor
GenericName[es]=Editor (La)TeX
GenericName[fa]=ویرایشگر (لا)تک
GenericName[fr]=Éditeur (La)TeX
GenericName[fo]=(La)TeX-ritil
GenericName[it]=(La)TeX editor
GenericName[ko]=(라)텍 편집기
GenericName[nl]=(La)TeX Editor
GenericName[pl]=Edytor plików (La)TeX
GenericName[sl]=Urejevalnik besedil za (La)TeX
GenericName[tr]=(La)TeX Düzenleyici
GenericName[zh_CN]=(La)TeX 编辑器
Comment=A simple environment for editing, typesetting, and previewing TeX documents
Comment[af]='n Eenvoudige omgewing vir die redigering, setwerk, en besigtiging van TeX dokumente
Comment[ar]=بيئة بسيطة لتحرير وصف ومعاينة مستندات تخ
Comment[ca]=Un entorn senzill per editar, compondre i visualitzar documents TeX
Comment[cs]=Jednoduché prostředí pro úpravu, sazbu a náhled TeXových dokumentů
Comment[de]=Eine einfache Umgebung zum Bearbeiten, Setzen und Darstellen von TeX-Dokumenten
Comment[es]=Un simple recurso para editar, compilar y visualizar documentos TeX
Comment[fa]=محیطی ساده برای ویرایش، حروف‌چینی، و پیش‌نمایش مستندات تک
Comment[fo]=TeXworks er eitt einfalt umhvørvi til at skriva, seta og hyggja at TeX-skjølum í.
Comment[fr]=Un environnement simple pour éditer, composer et prévisualiser des documents TeX
Comment[it]=Un semplice ambiente per la modifica, la composizione e l'anteprima di documenti TeX
Comment[ja]=TeXworks はTeX文書の編集・タイプセット・プレビューのためのシンプルな統合環境です
Comment[ko]=TeX 문서를 편집, 조판, 미리보기 할 수 있는 심플한 환경
Comment[nl]=Een eenvoudige omgeving voor het aanpassen, typesetten en previewn van TeX documenten
Comment[pl]=Proste środowisko do edycji, składu oraz przeglądania dokumentów w TeXu.
Comment[pt_BR]=TeXworks é um ambiente simples para editar, compilar e prever documentos TeX.
Comment[ru]=TeXworks это простая программа для редактирования, вёрстки и просмотра документов TeX.
Comment[sl]=Okolje za enostavno urejanje, stavljenje in predogled TeX-ovih dokumentov
Comment[tr]=TeXworks, TeX belgelerini düzenleme, dizme ve önizleme için basit bir ortamdır.
Comment[zh_CN]=一个用于编辑、排版和预览 TeX 文档的简洁集成环境
Icon=TeXworks
Exec=texworks %F
MimeType=text/x-tex;application/pdf;
Categories=Office;Qt;

