<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>{{ url }}</title>
  <link rel="stylesheet" href="http://sharpie.github.com/TeXworks/resources/docs.css">
</head>
<body>
<div id='container'>
  <div id="background"></div>

  <!-- Navbar -->
  <div id="fadeout"></div>
  <div id="flybar">
    <a id="title" href="#top">{{ file }}</a>

    {{#sources?}}
    <div class="navigation toc">
      <div class="button">
        Browse Source
      </div>
      <div class="contents menu">
        {{#sources}}
          <a class="source" href="{{ url }}">{{ path }}</a>
        {{/sources}}
      </div>
    </div>
    {{/sources?}}
    <div id="error" style="display:none;"></div>
  </div>

  <!-- Content -->
  <span class="bookmark" id="top"></span>

  <table cellspacing=0 cellpadding=0>
  <thead>
    <tr>
      <th class=docs><h1>{{ file }}</h1></th>
      <th class=code></th>
    </tr>
  </thead>
  <tbody>
    {{#sections}}
    <tr id='section-{{ section_id }}'>
      <td class=docs>
        <div class="pilwrap">
          <a class="pilcrow" href="#section-{{ section_id }}">&#182;</a>
        </div>
        {{{ docs }}}
      </td>
      <td class=code>
        <div class='highlight'><pre>{{{ code }}}</pre></div>
      </td>
    </tr>
    {{/sections}}
  </table>
</div>

  <!-- Navbar Scripting -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript">
    var closeMenus;
    closeMenus = function() {
      return $('.navigation.active').removeClass('active');
    };
    $('.navigation').click(function(e) {
      if (e.target.tagName.toLowerCase() === 'a') {
        return;
      }
      if ($(e.target).closest('.repl_wrapper').length) {
        return false;
      }
      if ($(this).hasClass('active')) {
        closeMenus();
      } else {
        closeMenus();
        $(this).addClass('active');
      }
      return false;
    });
  </script>

</body>
</html>
