Source: texworks
Section: tex
Priority: optional
Maintainer: Stefan Löffler <st.loeffler@gmail.com>
Build-Depends: debhelper (>= 6), pkg-config, cmake (>= 3.1), qtbase5-dev, qtdeclarative5-dev, qtscript5-dev, qttools5-dev, qttools5-dev-tools, zlib1g-dev, libhunspell-dev, libpoppler-qt5-dev, libpoppler-private-dev, liblua5.3-dev
Standards-Version: 3.9.7
Homepage: https://github.com/TeXworks/texworks
Vcs-Git: https://github.com/TeXworks/texworks.git
Vcs-Browser: https://github.com/TeXworks/texworks

Package: texworks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gsfonts, poppler-data, texworks-help-en
Suggests: texlive
Description: simple interface for working with TeX documents
 An environment for authoring TeX (LaTeX, ConTeXt, etc) documents, with a
 Unicode-based, TeX-aware editor, integrated PDF viewer, and a clean, simple
 interface accessible to casual and non-technical users.
 .
 TeXworks is inspired by Dick Koch's award-winning TeXShop program for Mac OS X,
 which has made quality typesetting through TeX accessible to a wider community
 of users, without a technical or intimidating face. The goal of TeXworks is to
 deliver a similarly integrated, easy-to-use environment for users on other
 platforms, especially GNU/Linux and Windows.
 .
 For further information, see http://tug.org/texworks/

Package: texworks-scripting-lua
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: texworks
Description: Plugin to bring Lua scripting to TeXworks
 .
 For further information, see http://tug.org/texworks/

