name: CI
on:
  - push
  - pull_request

jobs:
  build-linux-legacy:
    name: Linux (legacy)
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build
      run: docker build -f .github/workflows/Dockerfile.legacy .

################################################################################

  build-linux-qt6:
    name: Linux (Qt6)
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build
      run: docker build -f .github/workflows/Dockerfile.arch-qt6 .

################################################################################

  build-win-msys:
    name: Windows (MSYS)
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
    - name: Configure Git
      run: git config --global core.autocrlf input
      shell: bash

    - name: Setup MSYS
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: mingw-w64-x86_64-cmake git make mingw-w64-x86_64-gcc mingw-w64-x86_64-hunspell mingw-w64-x86_64-lua mingw-w64-x86_64-poppler mingw-w64-x86_64-qt5

    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure
      run: cmake -G 'MSYS Makefiles' -B build -DTW_BUILD_ID='github' -DTEXWORKS_ADDITIONAL_LIBS='shlwapi'

    - name: Build
      run: make -j
      working-directory: build

    - name: Test
      run: ctest -V
      working-directory: build
      env:
        QT_FORCE_STDERR_LOGGING: 1

################################################################################

  build-macosx-macports:
    name: Mac OS X (MacPorts)
    runs-on: macos-latest
    if: false
    strategy:
      matrix:
        include:
        - macports-version: 2.6.2
          macports-platform: 10.15-Catalina

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install MacPorts
      run: |
        wget https://github.com/macports/macports-base/releases/download/v${{ matrix.macports-version }}/MacPorts-${{ matrix.macports-version }}-${{ matrix.macports-platform }}.pkg
        sudo /usr/sbin/installer -pkg MacPorts-${{ matrix.macports-version }}-${{ matrix.macports-platform }}.pkg -target /
        echo "::add-path::/opt/local/bin:/opt/local/sbin"

    - name: Install Dependencies
      run: sudo port selfupdate && sudo port install hunspell lua poppler-qt5 qt5-qtbase qt5-qtdeclarative qt5-qtscript qt5-qttools

    - name: Configure
      run: cmake -B build -DTW_BUILD_ID='github' ${GITHUB_WORKSPACE}

    - name: Build
      run: make -j
      working-directory: build

    - name: Test
      run: ctest -V
      working-directory: build

